:root {
    --primary-darkblue-intro: hsl(217, 28%, 15%);
    --primary-darkblue-main: hsl(218, 28%, 13%);
    --primary-darkblue-footer: hsl(216, 53%, 9%);
    --primary-darkblue-testimonials: hsl(219, 30%, 18%);

    --accent-cyan: hsl(176, 68%, 64%);
    --accent-blue: hsl(198, 60%, 50%);
    --accent-red: hsl(0, 100%, 63%);

    --neutral-white: hsl(0, 0%, 100%);

    --clr-egg: rgb(236, 226, 226);
}


/* ## Colors

### Primary

- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background): hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)

### Accent

- Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
- Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
- Light Red (error): hsl(0, 100%, 63%)

### Neutral

- White: hsl(0, 0%, 100%) */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;
    color: var(--neutral-white);
    background: var(--primary-darkblue-main)
}



/* Typography */

h1, h2, h3, li {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* Colors */

.hero,
.email-sign-up {
    background: var(--primary-darkblue-intro);
}

.testomonials {
    background: var(--primary-darkblue-testimonials);
}

footer {
    background: var(--primary-darkblue-footer);
}

.navbar__links a {
    color: var(--clr-egg);
}

/* Structure */


.container {
    width: 80%;
    max-width: 1200px;
    margin: 0;
    padding: 0 1.5em;
}

.hero {
    text-align: center;
}

.hero img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

.navbar__links {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    margin-right: 1.5em;
}

.logo-header {
    margin-left: 1.5em;
}

.navbar__links li {
    margin-left: 2em;
}

.navbar__links li a {
    list-style: none;
    text-decoration: none;
}

.hero {
    /* background: lightblue; */
    height: auto;
    background-image: url('img/bg-curvy-mobile.svg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover */
}







/* Start @media min-width: 1000px */

@media (min-width: 1000px) {


}