:root {
    --primary-darkblue-intro: hsl(217, 28%, 15%);
    --primary-darkblue-main: hsl(218, 28%, 13%);
    --primary-darkblue-footer: hsl(216, 53%, 9%);
    --primary-darkblue-testimonials: hsl(219, 30%, 18%);

    --accent-cyan: hsl(176, 68%, 64%);
    --accent-blue: hsl(198, 60%, 50%);
    --accent-red: hsl(0, 100%, 63%);

    --neutral-white: hsl(0, 0%, 100%);

    --clr-egg: rgb(236, 226, 226);
}


/* ## Colors

### Primary

- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background): hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)

### Accent

- Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
- Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
- Light Red (error): hsl(0, 100%, 63%)

### Neutral

- White: hsl(0, 0%, 100%) */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;
    color: var(--neutral-white);
    background: var(--primary-darkblue-main)
}



/* Typography */

h1, h2, h3, li {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.testimonials__name {
    font-weight: 700;
}

/* Colors */



.hero,
.email-sign-up {
    background: var(--primary-darkblue-intro);
}

.hero {
    /* background: lightblue; */
    height: auto;
    background-image: url('./img/bg-curvy-mobile.svg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
   
    -webkit-background-size: 100% 65%;
    -moz-background-size: 100% 65%;
    -o-background-size: 100% 65%;
    background-size: 100% 65%;
}

.testimonials__card {
    background: var(--primary-darkblue-testimonials);
}

.about {
    background: var(--primary-darkblue-footer);
}

.navbar__links a {
    color: var(--clr-egg);
}

/* Structure */

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5em;
}

.hero {
    text-align: center;
}

.hero img,
.fyi__img-left {
    width: 100%;
}

header {
    display: flex;
    padding: 2em 1em 0 2em;
    margin: 0;
    justify-content: space-between;
}

.navbar__links {
    display: flex;
    text-decoration: none;
    list-style: none;
    padding-right: 1.5em;
}

.logo-header {
    width: 6.25em;
    height: 2.25em;
}

.logo-header img {
    width: 100%;
    height: 100%;
}

.navbar__links li {
    padding-left: 2.5em;
   
}

.navbar__links:nth-child(1) {
    padding-left: 0;
}

.navbar__links li a {
    list-style: none;
    text-decoration: none;
}

.navbar__links li a:hover,
.navbar__links li a:active {
    opacity: .75;
}

.hero__text {
    padding-bottom: 3em;
}

.hero__call-to-action {
    display: inline-block;
    text-decoration: none;
    background: var(--accent-blue);
    padding: .9em 5em;
    border-radius: 100px;
    cursor: pointer;
    color: var(--neutral-white);
}

.hero__call-to-action:hover,
.hero__call-to-action:focus {
    opacity: .75;
}

.features {
    padding-top: 11em;
    padding-bottom: 3em;
    text-align: center;
}
.features__square {
    padding-bottom: 7.5em;
}

.fyi {
   padding-bottom: 15em;
}

.fyi__info-right {
    padding-top: 3em;
}

.fyi__info-right a {
    color:var(--accent-cyan);
}

.testimonials__card {
    margin: 0 2em 2em 2em;
}

.testimonials__img {
    border-radius: 50% 50%;
    width: 10%;
}

.testimonials__card {
    padding: 3em 2em 0 2em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.testimonials__author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 3em;
}

.testimonials__text {
    padding-bottom: 1em;
}

.testimonials__name-title p {
    margin: 0;
    padding: 0 0 0 .5em;
}

.testimonials__container {
    padding-top: 2.5em;
}

.testimonials {
    background-image: url('img/bg-quotes.png');
    background-position: top left 15%;
    background-repeat: no-repeat;
}

.move--email-card-down {
    position: relative;
}

.email-sign-up {
    position: relative;
    top: 12em;
    text-align: center;
    width: 88%;
    margin: 0 auto 0 auto;
    padding: 3em 2em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.email-sign-up input {
    display: inline-block;
    padding: 1em 1.4em;
    border-radius: 100px;
    width:100%;
    outline: none;
}

.email-sign-up__btn {
    display: inline-block;
    text-decoration: none;
    margin-top: 1em;
    width:100%;
    background: var(--accent-blue);
    padding: 1em 1.4em;
    border-radius: 100px;
    color: var(--neutral-white);
    font-weight: 700;
}

.email-sign-up__btn:hover,
.email-sign-up__btn:focus {
    opacity: .75;
}

input {
    text-align: center;
}

.about {
    padding-top: 17em;
}

.logo {
    margin-left: 1.5em;
}

.about-left,
.col {
    margin-left: 1.5em;
}

.col {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
}

.col li a {
    text-decoration: none;
    color: var(--neutral-white);
}

.col li a:hover,
.col li a:focus {
    opacity: .75;
}

.col li {
    padding-bottom: 2em;
}

.about-left .logo {
    padding-bottom: 1em;
}

.about span {
    padding-left: .5em;
    padding-right: 1.5em;

}

.pad-top {
    padding-top: 4em;   
}

.pad-bottom {
    padding-bottom: 3em;
}

.social {
    text-align: center;
    margin-top: 5em;
    padding-bottom: 1em;
}

i {
    font-size: 2em;
    color: white;
    margin: 0 .1em;
}


/* Start @media min-width: 1000px */

@media (min-width: 1000px) {
    .logo-header {
        transform: revert;
        padding-left: 3em;
    }

    header {
        padding-top: 4em;
        padding-bottom: 2em;
        justify-content: space-between;
        align-items: flex-end;
        background: var(--primary-darkblue-intro);
    }

    .navbar__links li  {
        padding-left: 4.5em;
    }

    .navbar__links {
        padding-right: 5em;
    }

    .hero {
        margin: 0 auto;
        padding: 0 13em;
        background-image: url('./img/bg-curvy-desktop.svg');
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 100% 30%;
    }

    .hero__illustration {
        height: auto; 
        width: auto; 
        max-width: 35em; 
        max-height: 35em;
    }

    .hero__text {
       padding-right: 7em;
       padding-left: 7em;
    }
    
    .hero__heading h1 {
        font-size: 2rem;
    }

    .features__group {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 3em;
    }

    .features__square {
        width: 50%;
        padding: 0 4em;
        margin-bottom: 5em;
    }

    .fyi {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .fyi__info-right {
        padding-left: 2.5em;
        width: 55%;
    }

    .fyi__img-left {
        width: 45%;        
    }

    .row {
        width: 92%;      
    }

    .fyi__info-right h2 {
        font-size: 1.7rem;
        padding-right: 7em;
    }
    

    .testimonials {
        margin: 0 auto;
        background-position: top left 3%;

    }

    .testimonials__container{
        display: flex;
        justify-content: space-between;
    }

    .testimonials__card {
        width: 400px;
        padding: 1em 1.1em 0 1.1em;
        margin: 0 .9em;
    }

    .testimonials__author {
        padding-bottom: 1.4em;
        margin: 0;
    }

    .testimonials__text {
        font-size: .75rem;
    }

    .testimonials__name {
        font-size: .6rem;
    }

    .testimonials__title {
        font-size: .5rem;
    }

    .email-sign-up {
        text-align: center;
        top: 8em;
        width: 58%;
        margin: 3.5em auto 0 auto;
        padding-bottom: 1.97em;
    }

    .email-sign-up h3 {
        font-size: 1.4rem;
        margin-top: 0;
    }

    .email-sign-up p {
        font-size: .75rem;
        font-weight: lighter;
        padding-left: 4em;
        padding-right: 4em;
    }

    .email-sign-up input {
        width: 60%;
        padding: 1.2em 0 1.2em 1.5em;
        font-size: .6rem;
        margin-right: 1em;
        text-align: left;
    }

    .email-sign-up__btn {
        width: auto;
        padding: 1.2em inherit;
        font-size: .6rem;
    }

    .logo {
        display: block;
    }
    .about {
        padding-left: 3em;
        padding-right: 3em;
        padding-bottom: 3.5em;
        padding-top: 13em;
    }

    .about__flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about-left {
        width: 32%;
    }

    .pad-top,
    .pad-bottom {
        padding: 0;
    }
   
    .col {
    margin-left: 0;    
    }

    .col li,
    .fab {
        font-weight: normal;
    }

    .social {
        padding-top: 1em;
        margin: 0;
    }

}